.center{
    text-align: center;
    list-style-position: inside;
    background-repeat: repeat;
    background-position: center; 
  }

header{
    background-color: blanchedalmond;
    color: black;
    padding: 30px;
}